### ✅ Importing libraries

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

### ✅ Getting raw data from github repository

In [2]:
Raw_Data_Url = "https://raw.githubusercontent.com/Alireza-Esp/CPP_Model/main/Data/CarsData.csv"

In [3]:
Raw_Data = pd.read_csv(Raw_Data_Url)

### ✅ EDA

In [4]:
Raw_Data.head(20)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford
5,C-HR,2019,26791,Automatic,2373,Hybrid,135,74.3,1.8,toyota
6,Kuga,2019,17990,Manual,7038,Petrol,145,34.4,1.5,ford
7,Tiguan,2019,27490,Semi-Auto,3000,Petrol,145,30.4,2.0,volkswagen
8,Fiesta,2018,9891,Manual,31639,Petrol,145,65.7,1.0,ford
9,A Class,2017,17498,Manual,9663,Diesel,30,62.8,2.1,merc
10,Kuga,2017,16500,Semi-Auto,30000,Diesel,145,54.3,2.0,ford
11,1 Series,2016,10550,Manual,40313,Diesel,0,78.5,1.5,BMW
12,Up,2017,7990,Manual,9179,Petrol,145,64.2,1.0,volkswagen
13,Golf,2019,11980,Manual,14621,Petrol,145,49.6,1.0,volkswagen
14,Corsa,2017,7499,Manual,25000,Petrol,150,55.4,1.4,vauxhall
15,RAV4,2016,20790,Automatic,32196,Hybrid,20,55.4,2.5,toyota
16,Fiesta,2017,10490,Manual,16087,Petrol,0,65.7,1.0,ford
17,GLA Class,2016,15600,Automatic,42844,Diesel,30,64.2,2.1,merc
18,Golf,2017,17750,Manual,27125,Diesel,20,67.3,2.0,volkswagen
19,Aygo,2016,7130,Manual,23971,Petrol,0,69.0,1.0,toyota

#### 🔹 General information of data

In [5]:
Raw_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97712 entries, 0 to 97711
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         97712 non-null  object
 1   year          97712 non-null  int64
 2   price         97712 non-null  int64
 3   transmission  97712 non-null  object
 4   mileage       97712 non-null  int64
 5   fuelType      97712 non-null  object
 6   tax           97712 non-null  int64
 7   mpg           97712 non-null  float64
 8   engineSize    97712 non-null  float64
 9   Manufacturer  97712 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 7.5+ MB

#### 🔹 Describing the data

In [6]:
Raw_Data.describe()

,year,price,mileage,tax,mpg,engineSize
count,97712.000000,97712.000000,97712.000000,97712.000000,97712.000000,97712.000000
mean,2017.066502,16773.487555,23219.475499,120.142408,55.205623,1.664913
std,2.118661,9868.552222,21060.882301,63.357250,16.181659,0.558574
min,1970.000000,450.000000,1.000000,0.000000,0.300000,0.000000
25%,2016.000000,9999.000000,7673.000000,125.000000,47.100000,1.200000
50%,2017.000000,14470.000000,17682.500000,145.000000,54.300000,1.600000
75%,2019.000000,20750.000000,32500.000000,145.000000,62.800000,2.000000
max,2024.000000,159999.000000,323000.000000,580.000000,470.800000,6.600000

#### 🔹 Value counts for "year" column

In [7]:
Raw_Data.year.value_counts()

year
2019    26165
2017    21616
2016    15724
2018    13570
2015     7586
2014     4053
2020     4040
2013     2590
2012      633
2011      432
2010      340
2009      277
2008      199
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1996        2
1970        2
2024        1
Name: count, dtype: int64

#### 🔹 Value counts for "transmission" column

In [8]:
Raw_Data.transmission.value_counts()

transmission
Manual       55502
Semi-Auto    22296
Automatic    19905
Other            9
Name: count, dtype: int64

#### 🔹 Value counts for "fuelType" column

In [9]:
Raw_Data.fuelType.value_counts()

fuelType
Petrol      53982
Diesel      40419
Hybrid       3059
Other         246
Electric        6
Name: count, dtype: int64

#### 🔹 Value counts for "Manufacturer" column

In [10]:
Raw_Data.Manufacturer.value_counts()

Manufacturer
ford          17811
volkswagen    14893
vauxhall      13258
merc          12860
BMW           10664
Audi          10565
toyota         6699
skoda          6188
hyundi         4774
Name: count, dtype: int64